<ion-content>

  <!-- Escenario de batalla -->
  <ion-grid class="battle-stage">

    <ion-row>
      <ion-col size="12">
        <ion-img src={{batallas[ronda].escenario}} class="background"></ion-img> <!-- Escenario de batalla s-->
      </ion-col>
    </ion-row>

    <!-- Personaje del jugador (Goku) -->
    <ion-row class="character-row">
      <ion-col class="left">
        <ion-img [src]="jugador.sprite" class="character" [ngClass]="{'jugador-animando': jugador.animando}"></ion-img>
      </ion-col>

      <!-- Personaje del rival -->
      <ion-col class="right">
        <ion-img [src]="rival.sprite" class="character" [ngClass]="{'rival-animando': rival.animando}"></ion-img>
      </ion-col>
    </ion-row>

    <!-- OPCIONAL - BARRA DE VIDA DEL JUGADOR -->
    <ion-col class="barra_vida_jugador">
      <ion-row>
        <h3 class="player-name">{{jugador.name}}</h3> <!--NOMBRE DEL PERSONAJE QUE CONTROLA EL JUGADOR -->
        <ion-progress-bar class="barra_vida1" id="vidaJugador" [value]="jugador.vida / 100"></ion-progress-bar>
        <!-- Barra de vida -->
      </ion-row>
    </ion-col>

    <!-- OPCIONAL - BARRA DE VIDA DEL RIVAL -->
    <ion-col class="barra_vida_rival">
      <ion-row>
        <h3 class="rival-name">{{rival.nombre}}</h3> <!-- NOMBRE DEL PERSONAJE QUE CONTROLA EL RIVAL -->
        <ion-progress-bar class="barra_vida2" id="vidaRival" [value]="rival.vida / 100"></ion-progress-bar>
        <!-- Barra de vida del rival -->
      </ion-row>
    </ion-col>


    <!-- Mensajes de batalla -->
    <ion-row class="message-row">
      <ion-col>
        <h2 class="message">{{mensaje}}</h2>
      </ion-col>
    </ion-row>

    <!-- CONTROLES DE COMBATE DEL JUGADOR -->
    <ion-row class="battle-controls">

      <ion-col size="4" class="battle-control-col">
        <ion-button class="attack-button" fill="clear" [disabled]="!turnoJugador" (click)="atacar()">
          <img src="assets/icon/battle/objects/punch.png" alt="Atacar" title="Atacar">
        </ion-button>
      </ion-col>

      <ion-col size="4" class="battle-control-col">
        <ion-button class="defense-button" fill="clear" [disabled]="!turnoJugador" (click)="defender()">
          <img src="assets/icon/battle/objects/shield.png" alt="Defensa" title="Defensa">
        </ion-button>
      </ion-col>

      <ion-col size="4" class="battle-control-col">
        <ion-button class="special-attack-button" fill="clear" [disabled]="!turnoJugador" (click)="ataqueEspecial()">
          <img src="assets/icon/battle/objects/special.png" alt="Ataque Especial" title="Ataque Especial">
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Botón de siguiente combate --> <!-- Solo aparecerá si el rival ha muerto -->
    @if (rival.vida <= 0) { <ion-row class="next-battle">
      <ion-col>
        <ion-icon name="caret-forward-outline" (click)="siguienteCombate()">NEXT</ion-icon>
      </ion-col>
      </ion-row>
      }

      <!-- ICONOS DE ITEMS DE CURACIÓN -->
      <ion-row class="items-row">

        <ion-col>
          <ion-button class="item-bean" (click)="usarItem('semilla')" fill="clear"
            [disabled]="!turnoJugador || jugador.items.semilla <= 0">
            ({{jugador.items.semilla}})
            <img src="assets/icon/battle/items/senzu2.png" alt="Senzu" title="Senzu">
          </ion-button>
        </ion-col>


        <ion-button class="item-water" color="primary" (click)="usarItem('aguaKarin')" fill="clear"
          [disabled]="!turnoJugador || jugador.items.aguaKarin <= 0">
          ({{jugador.items.aguaKarin}})
          <img src="assets/icon/battle/items/water.png" alt="Agua de Karin" title="Agua de Karin">
        </ion-button>

      </ion-row>

  </ion-grid>

</ion-content>