#botones {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;

    ion-button {
        font-family: 'Press Start 2P', sans-serif;
        color: white;
        transform: scale(500%);

        &:hover {
            background-color: blue;
        }
    }

}