// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-success: #10dc60;
    --ion-color-warning: #ffc409;
    --ion-color-danger: #f04141;
}