// Contenedor del background
.selector {
    position: relative; // Permite posicionar elementos dentro de este contenedor.
    width: 100%;
    height: 100%; // Nos aseguramos que ocupe el 100% de la pantalla
    display: flex; // Ajustar la pantalla para que sea flexible: Ideal para mover
    justify-content: center;
    align-items: center;
    z-index: 0; // El fondo va por detrás
}

.selector-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Contenedor de personajes en pantalla
.character-display {
    position: absolute; // Asegúrate de que funciona correctamente con el contenedor padre
    width: 20%;
    height: 36%;
    display: flex;
    left: 37%;
}

.character-display img {
    max-width: 100%; // Asegurar que la imagen no se desborde del contenedor
    height: auto;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif; // Asignamos una familia de fuentes de letra (con una fuente secundaria)
}

// Contenedor de las flechas botón
.arrow-container {
    position: absolute;
    transform: scale(200%);
    width: 17%;
    top: 75%;

    .arrow-right {
        width: 100%;

        &:hover {
            transform: scale(1.5); // Animación al pasar el ratón (flecha izquierda)
        }
    }

    .arrow-left {

        &:hover {
            transform: scale(1.5); // Animación al pasar el ratón (flecha izquierda)
        }
    }

}

// Contenedor botón "Home"
.home-container {
    position: absolute;
    transform: scale(300%);
    display: flex;
    top: 93%; // Ajustar la posición vertical
    left: 3%; // Ajustar la posición horizontal

    .home {
        cursor: pointer;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.select-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    left: 46%; /* Mueve el botón al centro horizontal */
    transform: translateX(-46%); /* Ajusta la posición para centrado */
}

.confirm-selector {
    font-family: 'Press Start 2P', sans-serif;
    color: white;

    &:hover {
        background-color: rgb(60, 128, 39);
    }
}